.codefont {
    font-family: 'Source Code Pro', monospace;
}

#navigation {
    background-color: white; 
}

.navb {
    background-color: #241F1F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    position: relative; 
    left: 50%;
} 

.navb:hover {
    text-decoration: underline; 
}

#eyekang {
    height: 70%;
    width: auto;
    position: absolute; 
    top: 20%; 
    left: 50%;
    z-index: 10;
}

#bluesmoke {
    height: 90%; 
    width: auto; 
    position: absolute; 
    top: 20%;
    left: 50%;
    z-index: 0; 
}

#bluesmoke2 {
    height: 90%; 
    width: auto; 
    position: absolute; 
    top: 10%;
    left: 40%;
    z-index: 1; 
}

#bluesmoke3 {
    height: 90%; 
    width: auto; 
    position: absolute; 
    top: 10%;
    left: 70%;
    z-index: 2; 
}

body {
    background-color: #241F1F; 
}

.boxed {
    border: 1px solid white; 
    color: white; 
    background-color: #241F1F;
    font-family: 'Source Code Pro', monospace; 
    padding: 10px; 
    width: 300px; 
    height: 300px; 
}

.description {
    font-size:14px; 
}

.lbutton { 
    text-align: center; 
    padding: 10px; 
    font-size: 16px; 
    color: white; 
    background-color: #241F1F;
    border: 1px solid; 
    border-color: #241F1F; 
    font-family: 'Source Code Pro', monospace; 
}

.lbutton:hover {
    border-color: white;  
}

#box1 {
    display: inline-block; 
    position: absolute;
    left: 200px;
    top: 140px;
}

#box2 {
    display: inline-block; 
    position: absolute;
    left: 600px;
    top: 140px;
}
