.codefont {
    font-family: 'Source Code Pro', monospace;
}

#navigation {
    background-color: white; 
}

.navb {
    background-color:  #241F1F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
} 

h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
}
