.codefont {
    font-family: 'Source Code Pro', monospace;
}

#navigation {
    background-color: white; 
}

.navb {
    background-color:  #241F1F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    position: relative; 
    left: 60%;
} 

.navb:hover {
    text-decoration: underline; 
}

#eyekang {
    height: 70%;
    width: auto;
    position: absolute; 
    top: 20%; 
    left: 50%;
    z-index: 10;
}

#bluesmoke {
    height: 90%; 
    width: auto; 
    position: absolute; 
    top: 20%;
    left: 50%;
    z-index: 0; 
}

#bluesmoke2 {
    height: 90%; 
    width: auto; 
    position: absolute; 
    top: 10%;
    left: 40%;
    z-index: 1; 
}

#bluesmoke3 {
    height: 90%; 
    width: auto; 
    position: absolute; 
    top: 10%;
    left: 70%;
    z-index: 2; 
}



